{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ viewModel.name }}</h1>

    <p>{{ 'game.show.questions_count'|trans({'%questionsCount%': viewModel.questionsCount}) }}</p>

    <p>{{ 'game.show.players_list'|trans({'%players%': viewModel.players|join(', ')}) }}</p>

    <p>
        {{ 'game.show.join_link_message'|trans }}
        <a href="{{ url('game_join', {'token': viewModel.token}) }}">{{ url('game_join', {'token': viewModel.token}) }}</a>
    </p>

    {% if viewModel.question is empty %}
        <p>
            <a href="{{ path('game_next_question', {'token': viewModel.token}) }}">{{ 'game.show.next_question'|trans }}</a>
        </p>
    {% else %}
        {{ viewModel.question.question }}<br>
        <br>
        A - {{ viewModel.question.answers.A }}<br>
        B - {{ viewModel.question.answers.B }}<br>
        C - {{ viewModel.question.answers.C }}<br>
        D - {{ viewModel.question.answers.D }}<br>

        <p>
            <a href="{{ path('game_show_score', {'token': viewModel.token}) }}">{{ 'game.show.score'|trans }}</a>
        </p>
    {% endif %}
{% endblock %}
